<section class="content-main">
  <div class="content-header">
    <a href="/admin/authors">
      <i class="material-icons md-arrow_back"></i> Go back
    </a>
  </div>

  <div class="card card-user text-center">
    <div class="card-header bg-transparent border-0">
      <img src="/admin/imgs/theme/image-profile.png" alt="Author Profile Picture" class="img-fluid rounded-circle mb-3">
    </div>
    <div class="card-body" style="margin-top: 6.5rem;">
      <h3 class="card-title mt-2">J.K. Rowling</h3>
      <p class="card-text mt-3 mb-4">
        J.K. Rowling is the author of the Harry Potter series, one of the best-selling book series in history. Her works have captivated readers of all ages worldwide. Rowling has earned numerous awards for her work. She received an OBE and was made a Companion of Honour for her contributions to literature and philanthropy.
      </p>
    </div>
  </div>
</section>
