<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/profile">
      <i class="fi-rs-settings-sliders mr-10"></i> Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/profile/orders">
      <i class="fi-rs-shopping-bag mr-10"></i> Orders
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/profile/address">
      <i class="fi-rs-marker mr-10"></i> My Address
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/api/user/auth/login">
      <i class="fi-rs-sign-out mr-10"></i> Logout
    </a>
  </li>
</ul>

<script type="module" src="/user/js/utils/user-profile.js"></script>
