<footer class="main-footer font-xs">
  <div class="row pb-30 pt-15">
    <p
      class="text-center float-md-center font-sm text-muted mb-0"
    >
      © 2024,
      <strong class="text-brand">EliteReads</strong>. All
      rights reserved.
    </p>
  </div>
</footer>
