<aside class="navbar-aside ps" id="offcanvas_aside">
  <div class="aside-top">
    <a href="/admin/dashboard" class="brand-wrap">
      <img
        src="/admin/imgs/theme/logo.svg"
        class="logo"
        alt="Evara Dashboard"
      />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i
          class="text-muted material-icons md-menu_open"
        ></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/dashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/books">
          <i
            class="icon material-icons md-shopping_bag"
          ></i>
          <span class="text">Books</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/categories">
          <i class="icon material-icons md-category"></i>
          <span class="text">Categories</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/users">
          <i class="icon material-icons md-group"></i>
          <span class="text">Users</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/orders">
          <i
            class="icon material-icons md-shopping_cart"
          ></i>
          <span class="text">Orders</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/sellers">
          <i class="icon material-icons md-store"></i>
          <span class="text">Sellers</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/transactions">
          <i
            class="icon material-icons md-monetization_on"
          ></i>
          <span class="text">Transactions</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/reviews">
          <i class="icon material-icons md-comment"></i>
          <span class="text">Reviews</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/authors">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Authors</span>
        </a>
      </li>
    </ul>
    <hr />
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/settings">
          <i class="icon material-icons md-settings"></i>
          <span class="text">Settings</span>
        </a>
      </li>
    </ul>
    <br />
    <br />
  </nav>
  <div class="ps__rail-x" style="left: 0px; bottom: 0px">
    <div
      class="ps__thumb-x"
      tabindex="0"
      style="left: 0px; width: 0px"
    ></div>
  </div>
  <div class="ps__rail-y" style="top: 0px; right: 0px">
    <div
      class="ps__thumb-y"
      tabindex="0"
      style="top: 0px; height: 0px"
    ></div>
  </div>
</aside>
